@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth fonts like Apple */
body {
  @apply bg-black text-white antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "Inter", system-ui, sans-serif;
}

/* subtle scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
